<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @coworker.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @coworker.name %>
</p>

<%= link_to 'Edit', edit_coworker_path(@coworker) %> |
<%= link_to 'Back', coworkers_path %>
